<div class="app">
<!--
  <div class="app__header">
    <img src="assets/img/logo.svg" class="app__logo">
  </div>
-->
  <div class="">
    <div class="ml-2" >
      <button type="button" mat-raised-button color="primary" (click)="onResetPizza()">New</button>
    </div>
    <div class="app__container">
<!--      <router-outlet></router-outlet>-->
      <main-panel></main-panel>
    </div>
    <div class="app__footer">
      <p>&copy; Good Morning Pizza Inc.</p>
    </div>
  </div>
  <div #origin style="position: fixed; right: 20px; top: 20px">
    <button mat-fab color="basic" (click)="openHelpMessage(origin)">Help</button>
  </div>
</div>
